@use '@/styles/variables.scss' as *;

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4rpx 16rpx;
  border-radius: $radius-xs;
  white-space: nowrap;
}

.text {
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  line-height: 1.4;
}
